*
!.gitignore
!assets/
!fish/
!hypr/
!kitty/
!mako/
!nvim/
!pcmanfm/
!pkglist/
!tmux/
!waybar/
!wlogout/
!wofi/
!assets/**
!fish/completions/**
!fish/conf.d/**
!fish/config.fish
!fish/fish_plugins
!fish/functions/**
!fish/themes/**
!hypr/**
!kitty/**
!mako/**
!nvim/**
!pcmanfm/**
!pkglist/**
!tmux/**
!waybar/**
!wlogout/**
!wofi/**
